.all_products {
    width: 100%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;

    .baner_Products {
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 400px;
        align-items: center;
        margin-bottom: 30px;

        .img {
            width: 70%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                padding: 10px 10px 20px;
                filter: drop-shadow(0px 10px 5px black);
            }
        }

        /* -- */
        .infor {
            width: 25%;
            height: 100%;
            position: relative;
            display: flex;
            left: 150px;
            flex-direction: column;
            top: 50px;

            span {
                font-size: 2.8em;
                font-weight: 100;
                text-transform: uppercase;
                font-weight: 450;
                display: flex;

                flex-direction: column;

                h8 {
                    font-weight: 300;
                }
            }

            button {
                width: 150px;
                padding: 10px;
                border: 2px solid gray;
                border-radius: 3px;
                text-transform: capitalize;
                font-weight: 500;
                margin-top: 50px;
            }

            button:hover {
                transition: 0.3s;
                scale: 1.05;
            }
        }

        #left,
        #right {
            width: 100px;
            height: 40%;
            border-radius: 50%;
        }

        #left,
        #right:hover {
            cursor: pointer;
        }
    }

    /* --- */
    .main_allProducts {
        display: grid;
        grid-template-columns: 20% 80%;
        border-top: 1px solid gray;
        padding-top: 50px;
        margin-top: 20px;
    }

    /* menu */
    .menuProducts {
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;

        .categories {
            text-transform: capitalize;

            span {
                font-size: 25px;
                font-weight: 500;
                -webkit-text-stroke: 0.2px;
                letter-spacing: 0.3px;
            }

            section {
                margin-top: 30px;

                li {
                    list-style: none;
                    margin: 10px 0;
                    font-size: 20px;
                    font-weight: 200;
                    opacity: 0.8;
                    cursor: pointer;
                }

                li:hover {
                    color: #88f651;
                    transition: 0.2s;
                }
            }
        }

        /* --price */
        .priceAllProdducts {
            display: flex;
            flex-direction: column;
            margin-top: 50px;

            span {
                font-size: 25px;
                font-weight: 500;
                -webkit-text-stroke: 0.2px;
                letter-spacing: 0.3px;
                text-transform: capitalize;
            }

            select {
                width: 50%;
                padding: 5px;
                margin-top: 20px;
                text-transform: capitalize;
                background: #4e4e4e;
                color: honeydew;
                cursor: pointer;
                outline: none;
            }
        }

        /* --size */
        .sizeAllPriducts {
            display: flex;
            flex-direction: column;
            margin-top: 50px;

            span {
                font-size: 25px;
                font-weight: 500;
                -webkit-text-stroke: 0.2px;
                letter-spacing: 0.3px;
                text-transform: capitalize;
            }

            section {
                width: 80%;
                display: flex;
                justify-content: space-evenly;
                margin-top: 20px;

                button {
                    width: 40px;
                    height: 40px;
                    border: 1px solid gray;
                    text-transform: capitalize;
                    border-radius: 5px;
                    cursor: pointer;
                }

                button:hover {
                    background: #92ef63;
                    border-color: #88f651;
                    transition: 0.3s;
                }
            }
        }

    }

    /* list products */
    .listProducts {
        .pageAllProducts {
            width: 100%;
            display: grid;
            grid-template-columns: 32.3% 32.3% 32.4%;
            border-radius: 2px;
            column-gap: 1%;
            overflow: hidden;
            /* overflow-y: scroll; */
            /* scroll-behavior: smooth; */
            /* height: auto; */


            .box {
                display: block;
                width: 100%;
                border-radius: 2px;
                height: 450px;
                margin-bottom: 50px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                justify-self: center;
                align-items: center;
                border: 1px solid gray;


                .image {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #FFFFFF;
                    height: 250px;
                    border-radius: 2px 2px 0 0;

                    img {
                        height: 90%;
                        filter: drop-shadow(0 0.5mm 1mm gray);
                    }
                }

                .inforAllProductsPageClient {
                    width: 80%;
                    text-transform: capitalize;
                    display: flex;
                    flex-direction: column;
                    letter-spacing: 0.5px;
                    text-align: center;
                    align-items: center;
                    margin-bottom: 20px;

                    section {
                        width: 40%;
                        display: flex;
                        height: 100%;
                        margin: 20px 0;

                        /* margin-left: 20px; */
                        img {
                            background: none;
                            width: 13px;
                            height: 13px;
                        }
                    }

                    span {
                        font-size: 18px;
                        font-weight: 450;
                        text-transform: capitalize;
                        cursor: pointer;
                        transition: 0.3s;
                    }

                    span:hover {
                        transition: 0.3s;
                        color: #88f651;
                    }

                    p {
                        font-size: 18px;
                        font-weight: 450;
                        text-transform: capitalize;
                        color: #88f651;
                        margin-top: 5px;
                        -webkit-text-stroke: 0.1px;
                    }

                    button {
                        border: 1px solid gray;
                        padding: 5px 15px;
                        text-transform: capitalize;
                        -webkit-text-stroke: 0.1px;
                        border-radius: 20px;
                        background: #88f651;
                        color: black;
                        cursor: pointer;
                        transition: 0.3s;
                        border: none;
                    }

                    button:hover {
                        transition: 0.3s;
                        scale: 1.05;
                        background: #5cc22a;
                    }
                }
            }
        }

        .next_page_allProducts {
            display: flex;
            justify-content: center;
            margin-top: 10px;

            button {
                width: 25px;
                height: 25px;
                border: 1px solid orange;
                border-radius: 3px;
                margin: 0 5px;
                text-align: center;
            }

            button:hover {
                cursor: pointer;
                background: orange;
            }

            button:focus {
                background: orange;
            }
        }
    }






    ::-webkit-scrollbar {
        display: none;
    }
}