@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 3;

    header {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 85px;
        font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

        .logo {
            cursor: pointer;

            span {
                font-size: 20px;
                font-weight: 500;
                font-family: 'Dancing Script', cursive;
                text-transform: uppercase;
                font-style: italic;
                color: rgb(23, 246, 30);
            }
        }

        .navbar {
            margin: 10px 0 10px 250px;

            li {
                display: inline-block;
                list-style: none;
                text-transform: capitalize;
                margin: 0 20px;
                font-size: 1.9vh;
                cursor: pointer;
                position: relative;
                -webkit-text-stroke: 0.2px;
                letter-spacing: 0.2px;
            }

            li::after {
                content: '';
                width: 0;
                height: 3px;
                background: rgb(23, 246, 30);
                position: absolute;
                left: 0;
                bottom: -30px;
                border-radius: 10px;
            }

            li:hover::after {
                width: 100%;
                transition: 0.5s;
            }

            li:hover {
                color: rgb(23, 246, 30);
                transition: 0.5s;
            }
        }

        .menu {
            display: flex;

            li {
                list-style: none;
                text-transform: uppercase;
                margin: 10px 15px;
                cursor: pointer;
                position: relative;

                .soLuongSanPhamTrongGio {
                    transform: translate(85%, -130%);
                    color: red;
                    font-weight: 500;
                }

                button {
                    font-size: 12px;
                    letter-spacing: 0.5px;
                    text-transform: capitalize;
                    border-bottom: 3px solid rgb(23, 246, 30);
                    padding: 3px 20px;
                    border-radius: 10px;
                    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
                }

                button:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                    transition: 0.5s;
                }
            }

            li:hover img {
                transform: scale(1.05);
                transition: 0.2s;
            }
        }
    }
}