.Arrivals {
    width: 100%;
    margin-top: 150px;
    height: auto;
    /* overflow: hidden; */
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    column-gap: 2%;



    .block_arrivals {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 20px;

        h5 {
            font-size: 4vh;
            text-transform: capitalize;
            letter-spacing: 1.5px;
            -webkit-text-stroke: 1px;
            color: rgb(255, 204, 0);
            margin-bottom: 30px;
            font-family: Arial, Helvetica, sans-serif;
            opacity: 0.7;
        }

        .renderProductsArrivals {
            border-bottom: 1px solid gray;
            transition: 0.3s;
            width: 100%;

            .box_arrivals {
                display: flex;
                border-top: 1px solid gray;
                border-right: 1px solid gray;
                border-left: 1px solid gray;
                width: 100%;
                height: 200px;
                align-items: center;
                justify-content: space-evenly;
                border-radius: 2px;
                transition: 0.3s;

                .img {
                    width: 35%;
                    height: 80%;
                    background: #FFFFFF;
                    border-radius: 2px;
                    border: 1px solid gray;

                    img {
                        height: 100%;
                        padding: 20px;
                        filter: drop-shadow(0mm 2mm 2mm black);
                        transition: 0.3s;
                    }
                }

                .img:hover img {
                    scale: 1.2;
                    transition: 0.3s;
                }

                .inforArrivalsPage {
                    width: 50%;

                    .element {
                        p {
                            font-size: 22px;
                            color: #9db30e;
                            font-weight: 500;
                            /* -webkit-text-stroke: 0.5px; */
                            letter-spacing: 1px;
                        }

                        span {
                            font-size: 20px;
                            text-transform: capitalize;
                            font-weight: 450;
                            /* -webkit-text-stroke: 0.3px;   */
                            letter-spacing: 0.5px;
                            font-family: Geneva, Verdana, sans-serif;
                            margin: 15px 0 10px;
                            transition: 0.2s;
                        }

                        span:hover {
                            color: #9db30e;
                            transition: 0.2s;
                        }

                        section {
                            display: flex;
                            justify-content: left;
                            margin: 10px 0;

                            img {
                                width: 15px;
                                margin-right: 5px;
                            }
                        }

                        button {
                            text-transform: capitalize;
                            padding: 5px 20px;
                            border: 1px solid gray;
                            border-radius: 20px;
                            float: inline-end;
                            transition: 0.3s;
                            margin: 10px 0 0;
                            background: #9db30e;
                        }

                        button:hover {
                            scale: 1.04;
                            transition: 0.3s;
                        }

                    }
                }
            }
        }

        .handlePage {
            display: flex;
            margin-top: 20px;

            button {
                width: 30px;
                height: 30px;
                border: 1px solid gray;
                border-radius: 50%;
                transition: 0.3s;
                margin: 0 10px;
            }

            button:hover {
                scale: 1.08;
                transition: 0.3s;
                background: #c5de1f;
                border-color: #c5de1f;
                color: black;
            }
        }
    }
}