.baner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;


    .box-left {
        width: 35%;

        h5 {
            margin-top: 20px;
            text-transform: capitalize;
            display: flex;
            flex-direction: column;
            font-size: 4em;
            -webkit-text-stroke-width: 4px;
            letter-spacing: 3px;
            width: 100%;
            text-shadow: -2px 3px 2px;


            span {
                color: rgb(255, 221, 0);
                margin-top: -10px;
            }
        }

        p {
            font-size: 20px;
            margin: 20px 0 40px;
            font-family: Arial, Helvetica, sans-serif;
            opacity: 0.7;
        }

        button {
            width: 150px;
            height: 40px;
            border-radius: 10px;
            text-transform: capitalize;
            -webkit-text-stroke-width: 0.5px;
            letter-spacing: 1.5px;
            background: rgb(255, 200, 0);
            color: black;
            margin-bottom: 40px;
        }

        button:hover {
            scale: 1.03;
            transition: 0.3s;
            background: rgb(255, 225, 0);
        }

        .box-feedback {
            width: 70%;
            display: flex;
            justify-content: space-between;

            section {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 25px;
                text-transform: capitalize;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;

                span {
                    font-size: 1.1em;
                    font-weight: 400;
                    opacity: 0.7;
                }

                h6 {
                    font-size: 1.5em;
                    -webkit-text-stroke: 1.5px;
                    color: #00A7B9;
                    letter-spacing: 1.5px;
                }
            }
        }
    }

    .box-right {
        width: 65%;

        .box-image {
            width: 100%;
            margin-top: 20px;

            span {
                position: absolute;
                font-size: 24em;
                font-weight: 550;
                -webkit-text-stroke: 3px;
                -webkit-text-fill-color: transparent;
                z-index: 1;
                text-transform: uppercase;
                letter-spacing: 4px;
                opacity: 0.7;
                right: 40px;
                top: 50px;

            }

            img {
                width: 80%;
                height: 450px;
                position: relative;
                float: inline-end;
                z-index: 2;
                filter: drop-shadow(0 2mm 2mm gray);
            }
        }
    }
}